
<div *ngIf="country;else noCountry">
  <h1>{{ country.name.common }}</h1>
  <hr>
  <div class="row">
    <div class="col-3">
      <img
        [src]="country.flags.png"
        [alt]="'Bandera de ' + country.name.common"
        alt="Bandera de {{ country.name.common }}"
        style="width: 100%"
      >
      <h3>
        {{ country.name.common }}
      </h3>
      <span class="badge text-bg-primary">
        {{ country.translations['spa'].common }}
      </span>
      <span class="badge text-bg-primary">
        {{ country.translations['spa'].official }}
      </span>
      <hr>
      <span class="badge text-bg-primary">
        {{ country.translations['ara'].common }}
      </span>
      <span class="badge text-bg-primary">
        {{ country.translations['ara'].official }}
      </span>
      <hr>
      <span class="badge text-bg-primary">
        {{ country.translations['fra'].common }}
      </span>
      <span class="badge text-bg-primary">
        {{ country.translations['fra'].official }}
      </span>

    </div>
    <div class="col-8">
      <ul class="list-group">
        <li class="list-group">
          <b>Capital:</b> {{ country.capital }}
        </li>
        <li class="list-group">
          <b>Área:</b> {{ country.area | number }} km²
        </li>
        <li class="list-group">
          <b>Población:</b> {{ country.population | number }}
        </li>
        <li class="list-group">
          <b>Región:</b> {{ country.region }}
        </li>
      </ul>
    </div>
  </div>

</div>

<ng-template #noCountry>
  <div class="alert alert-warning text-center">
    No hay país para mostrar
  </div>
</ng-template>
