<h2>Por Capital</h2>

<div class="row">
  <div class="col-3">
    <!-- <input type="text" placeholder="Buscar por Capital" class="form-control">-->
    <shared-search-box
      [placeholder]="placeholder"
      (txtSearch)="searchByCapital($event)"
    >
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <hr>
    <!--<table class="table">
      <thead>
        <tr>
          <th>País</th>
          <th>Capital</th>

          <th>Bandera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>{{country.name.official}}</td>
          <td>{{country.capital}}</td>
          <td>
            <img
              [src]="country.flags.png"
              [alt]="'Bandera de ' + country.flags.alt"
              alt="Bandera de {{country.name}}"
              style="width: 50px"
            >
          </td>
        </tr>
      </tbody>
    </table>-->
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
